<!-- Page Content -->
<div class="container">

<div class="row">

<!-- Blog Entries Column -->
<div class="col-md-8">

  <h1 class="my-4">Projects<br><br>
    
  </h1>

  <!-- Blog Post -->
<div class="card mb-4">

    <div class="card-body">
    	<h1> <%= image_tag("aws.jpeg",:size => "800x300" ,:alt => "r") %>
</h1>
      <h2 class="card-title">Air Ticket Booking System</h2>
      <p class="card-text">An Air Ticket Booking System portal developed using concepts of Java-FX and Database Management System.The Application provides Searching and booking an air ticket between various cities and provides PNR Enquiry. Admin can delay or cancel any flight.</p>

      
      <%= link_to "Know More" , "https://github.com/vgswn/Dbms-AirlineBookingSystem" , class: "btn btn-primary"%>
      <%= link_to "Pdf" , "https://drive.google.com/file/d/1rQQgvZFZtJ7IXiyM2Rwf86ClQdRFFGJI/view?usp=sharing" , class: "fa fa-file"%>

    </div>
    <div class="card-footer text-muted">
      April 27, 2017 by
      <%= link_to " Vipul Kumar " , "https://www.github.com/vgswn" , class: "fa fa-github"%>


      <br><br>
      <br><br>

    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Distributed Chat System</h2>
      <p class="card-text">A chatting application developed using concepts of distributed systems. Users can create
groups,chat in groups,chat individually. Application also provides voice call facility.</p>

      
      <%= link_to "Know More" , "https://github.com/vgswn/distributed-chat-server" , class: "btn btn-primary"%>
            <%= link_to "Pdf" , "https://drive.google.com/file/d/1psHBH6ehmBr2Y7NcyvtXNlebnotOrdEp/view?usp=sharing" , class: "fa fa-file"%>

    </div>
    <div class="card-footer text-muted">
      May 14, 2018 by
      <%= link_to " Vipul Kumar " , "https://www.github.com/vgswn" , class: "fa fa-github"%>
      <br><br>
    </div>
  </div>

    


  <!-- Blog Post -->
<div class="card mb-4">
    
    <div class="card-body">
      <h2 class="card-title">Time Table Generation for IIIT-A</h2>
      <p class="card-text">An application to generate timetable for IIIT-A. Application uses input and generates the
timetable for all batches. It generates timetable for Teachers as well.</p>

      
      <%= link_to "Know More" , "https://github.com/vgswn/timetable-generator-5thSem-project" , class: "btn btn-primary"%>
      
                  <%= link_to "Pdf" , "https://drive.google.com/file/d/1Y5FmSu51HcUmlJ_Nkqx5cQNTXvcXWPDk/view?usp=sharing" , class: "fa fa-file"%>

    </div>
    <div class="card-footer text-muted">
      June 17, 2018 by
      <%= link_to " Vipul Kumar " , "https://www.github.com/vgswn" , class: "fa fa-github"%>
      <br><br>
      <br><br>

    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title">Plotiler: Plotter Interpreter in C++
</h2>
      <p class="card-text">A Simple compiler design project to make plotting simple.It Uses YACC to parse the grammar, and then plot using python libraries as per the needs.</p>

      
      <%= link_to "Know More" , "https://github.com/CosmicCoder96/plotiler" , class: "btn btn-primary"%>
                  <%= link_to "Pdf" , "https://drive.google.com/file/d/1DAnlrGSTZl56L2mXsPzgJKXgIS-atsZS/view?usp=sharing" , class: "fa fa-file"%>

    </div>
    <div class="card-footer text-muted">
      April 29, 2018 by
      <%= link_to " Vipul Kumar " , "https://www.github.com/vgswn" , class: "fa fa-github"%>
      <br><br>
    </div>
  </div>

  


</div>

</div>
<!-- /.row -->

</div>
<!-- /.container -->